.footer {
  background-color: #7c92b3;
  margin-top: auto;
}

/* stylelint-disable-next-line selector-class-pattern */
.footer__text {
  font-family: Merriweather, serif;
  text-align: center;
  padding: 1vh;
}
