.footer {
  background-color: #7c92b3;
  margin-top: auto;
  height: 10vh;
}

/* stylelint-disable-next-line selector-class-pattern */
.footer__text {
  font-family: Merriweather, serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
