.Navbar {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #aac0e3;
	transition: top 250ms;
	z-index: 1;
}

.navbar__logo {
	width: 10vh;
	height: 10vh;
	padding: 1vh;
	border-radius: 50%;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 700px) {
	.navbar__logo {
		width: 5vh;
		height: 5vh;
		padding: 0.5vh;
	}
}
