.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 250ms;
  z-index: 1;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    to left,
    #e1ffde,
    #afdac5,
    #85b4ad,
    #618f93,
    #456b77,
    #2f4858
  );
}

/* stylelint-disable-next-line selector-class-pattern */
.navbar__logo {
  width: 10vh;
  height: 10vh;
  padding: 1vh;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 250ms;
}

/* stylelint-disable-next-line selector-class-pattern */
.navbar__logo:hover {
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

/* stylelint-disable-next-line selector-class-pattern */
.navbar__links {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

/* stylelint-disable-next-line selector-class-pattern */
.navbar__link {
  padding: 2px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto 10px;
  color: white;
  background-color: #a1afa0;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 250ms;
}

/* stylelint-disable-next-line selector-class-pattern */
.navbar__link:hover {
  background-color: #8c9b99;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

@media screen and (max-width: 700px) {
  /* stylelint-disable-next-line selector-class-pattern */
  .navbar__logo {
    width: 5vh;
    height: 5vh;
    padding: 0.5vh;
  }
}
