/* Element selectors */

header {
  border-bottom: 2px solid yellow;
  color: whitesmoke;
}

body {
  background-color: #36393e;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-family: Arial Black, sans-serif;
}

h2 {
  font-family: Arial Black, sans-serif;
  color: whitesmoke;
}

h3 {
  font-family: Arial Black, sans-serif;
  color: whitesmoke;
}

p {
  font-size: 18px;
}

a {
  color: rgb(0, 116, 204);
  display: inline-block;
  transition: 250ms;
}

a:hover {
  color: white;
  transform: -moz-transform matrix3d();
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

/* Class selectors */

.typescript-text {
  color: lightblue;
}

.javascript-text {
  color: yellow;
}

.nodejs-text {
  color: lightgreen;
}

.visual-studio-code-text {
  color: rgb(72, 203, 247);
}

.eris-text {
  color: white;
}

.faq {
  margin: auto;
  width: 50%;
  height: 270px;
}

.faq-columns {
  width: 750px;
  height: 270px;
  display: flex;
  flex-direction: row;
}

.faq-column {
  width: 500px;
  padding: 5px;
  margin: 5px;
  border: 2px solid yellow;
  text-align: center;
}

.faq-text {
  font-size: 16px;
}

.invalid-page-paragraph {
  font-size: 16px;
  text-align: center;
}

.invalid-page-header {
  text-align: center;
}

@media screen and (max-width: 1127px) {
  .faq-columns {
    flex-direction: column;
    margin-left: 70px;
    align-items: center;
    width: 10%;
    height: 270px;
  }

  .footer {
    margin-top: 150px;
  }

  .faq-column {
    margin-left: 50px;
    margin-right: 50px;
  }

  .faq-text {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
  }

  h3 {
    font-size: 16px;
  }
}
